<app-header></app-header>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="img-wrapper">
          <img
            [src]="courseSelected.image"
            class="card-img-top"
            alt="..."
            [height]="200"
            [width]="400"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ courseSelected.name }}</h5>
          <p class="card-text">
            {{ courseSelected.description | slice : 0 : 90 }}...
          </p>
          <div class="coursePrice">
            <p
              class="courseType"
              [ngStyle]="{
                color: courseSelected.type != 'Free' ? 'red' : 'green'
              }"
            >
              <b>{{ courseSelected.type }}</b>
            </p>
            <p class="courseType">
              <b>Price: </b>{{ courseSelected.price | currency : "INR" }}
            </p>
          </div>
          <a
            routerLink="/course/{{ courseSelected.id }}/{{
              courseSelected.name
            }}"
            class="btn btn1 btn-danger"
            >Buy Now</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
